<div class="agents-data es-card">
  <span class="agents-data__title">Dados dos Ativos</span>
  <div class="agents-data__content">
    <div class="content__consumption">
      <span class="content__value">227</span>
      <span class="content__label">DE CONSUMO</span>
    </div>
    <div class="content__generation">
      <span class="content__value">70</span>
      <span class="content__label">DE GERAÇÃO</span>
    </div>
    <div class="content__demand">
      <mat-icon class="content__icon">dynamic_form</mat-icon>
      <span class="content__value">1.167,75 MW</span>
      <span class="content__label">DEMANDA TOTAL</span>
    </div>
    <div class="content__power">
      <mat-icon class="content__icon">dynamic_form</mat-icon>
      <span class="content__value">5,41 GW</span>
      <span class="content__label">POTÊNCIA INSTALADA</span>
    </div>
  </div>
</div>
