@import "~src/assets/scss/variables/colors";

.configuration {
  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      height: 50px;
      cursor: pointer;
    }
  }

  :last-child {
    font-size: 30px;
    margin-left: 3px;
  }

  mat-icon {
    color: $bg-primary;
    display: flex;
    align-items: center;
    width: 26px;
    height: 50px;
    font-size: 36px;
    user-select: none;
  }
}
