<div class="forgot-password">
  <div class="forgot-password__container es-card">
    <span class="container__title">Esqueceu sua senha?</span>
    <span class="container__subtitle">Enviaremos para seu e-mail instruções de recuperação</span>
    <mat-form-field appearance="outline" class="container__form">
      <mat-label>E-mail</mat-label>
      <input [formControl]="control" matInput type="email">
      <mat-error *ngIf="control.touched && control.hasError('required')">
        Insira um e-mail para continuar!
      </mat-error>
      <mat-error *ngIf="control.touched && control.hasError('email')">
        O e-mail inserido é inválido!
      </mat-error>
    </mat-form-field>
    <div class="container__actions">
      <button [disabled]="!!control.errors" mat-stroked-button>Recuperar senha</button>
      <a [routerLink]="['/login']" class="actions__back">voltar para o <b>login</b></a>
    </div>
  </div>
</div>
