.forgot-password {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 360px;
    padding: 1.5rem;

    .container {
      &__title {
        font-weight: 700;
      }

      &__subtitle {
        font-size: 14px;
      }

      &__form {
        margin-top: 0.5rem;
      }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions {
          &__back {
            user-select: none;
            text-decoration: none;
            color: inherit;

            &:hover {
              cursor: pointer;
              text-shadow: 0 0 0 #6d6d6d;
            }
          }
        }
      }
    }
  }
}
