@import "~src/assets/scss/variables/colors";

.simple-widget {
  width: fit-content;
  flex-direction: row;
  align-items: center;
  margin: 0 .75rem;

  &__icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0, 0.15);

    mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85px;
      height: 85px;
      font-size: 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;

    &--value {
      font-size: 40px;
      font-weight: bolder;
    }
  }
}
